{% extends 'base.html.twig' %}

{% block title %}{{ api.name }} API{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="h3">API: {{ api.name }}</h1>
            <code>{{ app_url }}/api/{{ api.name }} &rarr; {any}</code>
        </div>
        <div class="col-md-4">
            <h2 class="h5">Requests (<span id="incoming-requests-count">0</span>)</h2>
            <div>
                <a href="{{ path('console_new', {'apiName': api.name}) }}" class="btn btn-sm btn-primary" title="Add new mock response">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-4" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="incoming-requests-tab" data-toggle="tab" href="#incoming-requests" role="tab" aria-controls="incoming-requests" aria-selected="true">
                Incoming request
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="mocks-tab" data-toggle="tab" href="#mocks" role="tab" aria-controls="mocks">
                Mock list
            </a>
        </li>
    </ul>

    <div class="tab-content mt-4">
        <div class="tab-pane fade show active" id="incoming-requests" role="tabpanel" aria-labelledby="incoming-requests-tab">
        </div>
        <div class="tab-pane fade" id="mocks" role="tabpanel" aria-labelledby="contact-tab">
            {% for endpoint in endpoints %}
                <div class="row mb-2">
                    <div class="col-md-3">
                        <small class="d-inline-block text-monospace mb-1"><span class="text-uppercase">{{ endpoint.method }}</span> <span class="text-danger">{{ endpoint.path }}</span></small>
                        <small class="d-block text-monospace mb-1">
                            <a href="{{ path('console_delete_endpoint', {'apiName': api.name, 'endpointId': endpoint.id}) }}"
                                onclick="return confirm('Are you sure delete this mock response?')">
                                Delete
                            </a>
                        </small>
                    </div>
                    <div class="col-md-9">
                        <div class="accordion" id="wrapper-{{ endpoint.id }}">
                            <div class="card">
                                <div class="card-header p-0" id="heading-{{ endpoint.id }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" style="box-shadow: none" type="button" data-toggle="collapse" data-target="#target-{{ endpoint.id }}" aria-expanded="true" aria-controls="target-{{ endpoint.id }}">
                                            Response headers
                                        </button>
                                    </h2>
                                </div>

                                <div id="target-{{ endpoint.id }}" class="collapse" aria-labelledby="heading-{{ endpoint.id }}" data-parent="#wrapper-{{ endpoint.id }}">
                                    <div class="card-body">
                                        {% for header in endpoint.endpointHeaders %}
                                            <pre>{{ header.name }}: {{ header.value }}</pre>
                                        {% else %}
                                            <pre>Response header are empty</pre>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header p-0" id="heading-mock-response-{{ endpoint.id }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" style="box-shadow: none" type="button" data-toggle="collapse" data-target="#target-mock-response-{{ endpoint.id }}" aria-expanded="true" aria-controls="target-mock-response-{{ endpoint.id }}">
                                            Response body
                                        </button>
                                    </h2>
                                </div>

                                <div id="target-mock-response-{{ endpoint.id }}" class="collapse" aria-labelledby="heading-mock-response-{{ endpoint.id }}" data-parent="#wrapper-{{ endpoint.id }}">
                                    <div class="card-body">
                                        <pre>{{ endpoint.responseBody }}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function renderAccordion(data) {
            const dateNow = new Date();
            const nowTimestamp = dateNow.getTime();

            let year = dateNow.getFullYear();
            let month = dateNow.getMonth() + 1;
            let day = dateNow.getDate();
            let hours = dateNow.getHours();
            let minutes = dateNow.getMinutes();
            let seconds = dateNow.getSeconds();

            let stringDate = year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;

            return `
                <div class="row mb-2">
                    <div class="col-md-3">
                        <small class="d-block text-monospace mb-1">
                            ${data.method} <span title="Defined" class="text-success ${data.definedRoute ? '' : 'd-none'}" style="font-size: 18px">&check;</span>
                        </small>
                        <small class="d-block text-monospace text-danger text-truncate mb-1" title="${data.path}">/${data.path}</small>
                        <small class="d-block text-monospace text-secondary mb-2">${stringDate}</small>
                    </div>
                    <div class="col-md-9">
                        <div class="accordion" id="wrapper-${nowTimestamp}">
                            <div class="card">
                                <div class="card-header p-0" id="heading-${nowTimestamp}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" style="box-shadow: none" type="button" data-toggle="collapse" data-target="#target-${nowTimestamp}" aria-expanded="true" aria-controls="target-${nowTimestamp}">
                                            Request headers
                                        </button>
                                    </h2>
                                </div>

                                <div id="target-${nowTimestamp}" class="collapse" aria-labelledby="heading-${nowTimestamp}" data-parent="#wrapper-${nowTimestamp}">
                                    <div class="card-body">
                                        <pre>${data.requestHeaders}</pre>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header p-0" id="heading-response-${nowTimestamp}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" style="box-shadow: none" type="button" data-toggle="collapse" data-target="#target-response-${nowTimestamp}" aria-expanded="true" aria-controls="target-response-${nowTimestamp}">
                                            Response body
                                        </button>
                                    </h2>
                                </div>

                                <div id="target-response-${nowTimestamp}" class="collapse" aria-labelledby="heading-response-${nowTimestamp}" data-parent="#wrapper-${nowTimestamp}">
                                    <div class="card-body">
                                        <pre>${data.responseBody}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            `;
        }

        $(document).ready(function() {
            if (!localStorage.getItem('{{ api.name }}')) {
                localStorage.setItem('{{ api.name }}', '{{ api.token }}');
            }

            const eventSource = new EventSource('{{ mercureHubUrl }}?topic=' + encodeURIComponent('api/{{ api.name }}'));

            let incomingRequestsCount = 0;

            // Will be called every time an update is published by the server
            eventSource.onmessage = event => {
                incomingRequestsCount++;

                const data = JSON.parse(event.data)
                const template = renderAccordion(data);

                $('#incoming-requests-count').html(incomingRequestsCount);
                $('#incoming-requests').prepend(template);
            }
        });
    </script>
{% endblock %}
