{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .input-container-wrapper {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .input-container {
            flex-grow: 1;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="h2">Create new fake API</h1>
                <p class="lead">Start by creating an API to collect and inspect HTTP requests</p>

                {{ form_start(form) }}
                    <div class="form-group input-container-wrapper">
                        <div class="input-container">
                            {{ form_widget(form.name) }}
                        </div>

                        <button type="submit" class="btn btn-primary ml-2">Create</button>
                    </div>

                    {% for message in app.flashes('error') %}
                        <small id="emailHelp" class="form-text text-danger">
                            {{ message }}
                        </small>
                    {% endfor %}

                    {% if not form.vars.valid %}
                        {{ form_errors(form.name) }}
                    {% endif %}

                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header font-weight-bold">
                    My API
                </div>
                <ul id="api-list" class="list-group list-group-flush">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            for (let i = 0; i < localStorage.length; i++) {
                const token = localStorage.getItem(localStorage.key(i));

                $.get(`{{ path('get_api_info') }}?token=${token}`, function (data) {
                    if (data.valid) {
                        const template = `
                            <li class="list-group-item">
                                <a href="console/${data.apiName}">${data.apiName}</a>
                            </li>
                        `;

                        $('#api-list').append(template);
                    }
                });
            }
        });
    </script>
{% endblock %}
